<%- include('../includes/webHeader.ejs') %>
<style>
    .card {
        margin: 5px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-align: center;
    }
    .card-title {
        font-size: 2.0em;
        margin-bottom: 10px;
    }
    .card-text {
        font-size: 1.2em;
    }
    </style>
    
    <!-- My Account -->
    <section>
		<div class="breadcrumb-main">
			<div class="container">
				<div class="breadcrumb-container">
					<ul class="breadcrumb">
						<li><a href="index"><i class="fa fa-home"></i></a></li>
                                <li><a href="my-account">Account </a></li>
                                <li><a href="my-account">My Orders</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
    <div class="blog-section">
        <div class="container">
            <div class="row">
                <%- include('../includes/customerSidebar.ejs') %>
                <div id="content" class="col-sm-9  all-blog my-account">
                    <h1>Welcome <b><%= userData.name %></b></h1>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title">Total Spend</h5>
                                    <h4 class="card-title">₹ <%= totalSpend.toFixed(2) %></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title">Total Orders</h5>
                                    <h4 class="card-title"><%= totalOrders %></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title">Total Items Wishlist</h5>
                                    <h4 class="card-title"><%= totalWishlistItems %></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 bg-white">
                        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FCalcutta" style="border-width:0" scrolling="no" width="100%" height="500" frameborder="0"></iframe>
                  
                       </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- .My Account -->
	 <!-- Toastr notification handling -->
     <% if (typeof error !== 'undefined') { %>
        <script>
            toastr.error('<%= error %>');
        </script>
    <% } %>
    <% if (typeof success !== 'undefined') { %>
        <script>
            toastr.success('<%= success %>');
        </script>
    <% } %>
    <!-- Toastr notification handling -->
    <% if (typeof error !== 'undefined') { %>
        <script>
            toastr.error('<%= error %>');
        </script>
    <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

       
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    
    <script>
    $(document).ready(function() {
        $('#orderTable').DataTable();
    });
    </script>
<%- include('../includes/webFooter.ejs') %>