<%- include('../includes/webHeader.ejs') %>

    <!-- My Account -->
    <section>
		<div class="breadcrumb-main">
			<div class="container">
				<div class="breadcrumb-container">
					<ul class="breadcrumb">
						<li><a href="index"><i class="fa fa-home"></i></a></li>
                                <li><a href="my-account">Account </a></li>
                                <li><a href="my-account">My Orders</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
    <div class="blog-section">
        <div class="container">
            <div class="row">
                <%- include('../includes/customerSidebar.ejs') %>
                <div id="content" class="col-sm-9  all-blog my-account">
                    <h1>My Orders</h1>
                    <div class="table-responsive">
                        <table id="orderTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="text-center">S.No.</td>
                                    <td class="text-center">Order ID</td>
                                    <td class="text-center">Total Amount</td>
                                    <td class="text-center">Shipping Address</td>
                                    <td class="text-center">Status</td>
                                    <td class="text-center">Payment Status</td>
                                    <td class="text-center">Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% 
                                let i = 1;
                                orders.forEach(order => { %>
                                <tr>
                                    <td class="text-center"><%= i %></td>
                                    <td class="text-center">Order #<%= (order.id).slice(0,4) %></td>
                                    <td class="text-center">₹ <%= order.total_amount %></td>
                                    <td class="text-center"><%= order.shipping_address %></td>
                                    <td class="text-center"><%= order.status %></td>
                                    <td class="text-center"><%= order.payment_status %></td>
                                    <td class="text-center">
                                        <a href="/orderDetails/<%= order.id %>">Track</a>
                                        <a href="/orderDetails/<%= order.id %>">View</a>
                                        <% if (order.status !== "delivered") { %>
                                            <a href="/cancel-order/<%= order._id %>">Cancel</a>
                                        <% } %>                                      
                                    </td>
                                </tr>

                                <%
                            i++;
                            }); %>
                            </tbody>
                        </table>
                     
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .My Account -->
	 <!-- Toastr notification handling -->
     <% if (typeof error !== 'undefined') { %>
        <script>
            toastr.error('<%= error %>');
        </script>
    <% } %>
    <% if (typeof success !== 'undefined') { %>
        <script>
            toastr.success('<%= success %>');
        </script>
    <% } %>
    <!-- Toastr notification handling -->
    <% if (typeof error !== 'undefined') { %>
        <script>
            toastr.error('<%= error %>');
        </script>
    <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

       
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    
    <script>
    $(document).ready(function() {
        $('#orderTable').DataTable();
    });
    </script>
<%- include('../includes/webFooter.ejs') %>