<%- include('../includes/adminHeader.ejs') %>
<div class="main-content">
    <div class="main-content-inner">
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Order List</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index"><div class="text-tiny">Dashboard</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#"><div class="text-tiny">Order</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Order List</div>
                    </li>
                </ul>
            </div>
            <div class="wg-box">
                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">
                        <form class="form-search" method="GET" action="/dashboard/order-list">
                            <fieldset class="name">
                                <input type="text" placeholder="Search by Order ID..." class="" name="search" value="<%= search %>" tabindex="2" aria-required="true" required>
                            </fieldset>
                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="wg-table table-all-category">
                    <ul class="table-title flex gap10 mb-14">   
                        <li>
                            <div class="body-title">Order ID</div>
                        </li>
                        
                        <li>
                            <div class="body-title">Quick Track Order</div>
                        </li>
                        <li>
                            <div class="body-title">Order Status</div>
                        </li>
                         <li>
                            <div class="body-title">Order Date</div>
                        </li>

                        <li>
                            <div class="body-title">Price</div>
                        </li>
                        <li>
                            <div class="body-title">Quantity</div>
                        </li>
                        <li>
                            <div class="body-title">Payment</div>
                        </li>
                    </ul>
                    <ul class="flex flex-column">
                        <% if (order.length > 0) { %>
                            <% order.forEach(orderItem => { %>    
                                <li class="product-item gap10">
                                    <div class="flex items-center justify-between gap10 flex-grow">
                                        <div class="body-text">#<%= orderItem._id %></div>
                                        <div class="list-icon-function">
                                            <a href="/dashboard/order-detail/<%= orderItem._id %>">
                                                <div class="item eye">
                                                    <i class="icon-eye"></i>
                                                </div>
                                            </a>
                                            <div>
                                                <a href="/dashboard/order-tracking/<%= orderItem._id %>">
                                                <img width="20" height="20" src="https://img.icons8.com/color-glass/48/delivery-tracking.png" alt="delivery-tracking"/>
                                                </a>
                                            </div>
                                        
                                        </div>
                                        <div class="body-text"><%= orderItem.status %></div>
                                        <div class="body-text"><%- new Date(orderItem.created_at).toLocaleDateString('en-IN') %></div>
                                        
                                       
                                       
                                        <div class="body-text">₹ <%= orderItem.total_amount.toFixed(2) %></div>
                                        <div class="body-text"><%= orderItem.products[0].quantity %></div>
                                        <div class="body-text" id="paymentStatus_<%= orderItem._id %>"><%= orderItem.payment_status %></div>
                                    </div>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <li>No Orders Found</li>
                        <% } %>
                    </ul>
                </div>
                <div class="pagination">
                    <% for(let i = 1; i <= totalPages; i++) { %>
                        <a href="/dashboard/order-list?page=<%= i %>&search=<%= search %>" class="<%= currentPage == i ? 'active' : '' %>"><%= i %></a>
                    <% } %>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
                 <!-- bottom-page -->
                        <%- include('../includes/adminFooter.ejs') %>
                        <!-- /bottom-page -->
                   
