<%- include('../includes/webHeader.ejs') %>

	<section class="main_section">
		<!-- Main Banner -->
		<div class="container-full ">
			<div class="vipodha-banner box-module ">
				<div class="block_box">
					<div>
						<div class="banner-owl-carousel owl-carousel owl-theme owl-loaded owl-drag">
							<div class="row-items category-layout col-xs-12">
								<div class="vipodha-banner-image">
									<img src="assets/images/banners/mainbanner.png" alt="Noelle Salar"
										class=" img-responsive ">
								</div>
							</div>
							<!-- <div class="row-items category-layout col-xs-12">
								<div class="vipodha-banner-image">
									<img src="assets/images/banners/mainbanner2.png" alt="Noelle Salar"
										class=" img-responsive ">
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .Main Banner -->

		<!-- All Products  -->
		<div class="product-tab-block wow fadeInUp top-margin-all">
			<div class="container">
				<div class="page-title toggled">
					<h3>Our Collections</h3>
				</div>
				<div id="content" class="">
					<div class="category-row row">


									<%
									const shuffledProducts = products.slice(0, 20).sort(() => Math.random() - 0.5)
									shuffledProducts.forEach(product => { %>
									<div class="product-layout product-grid col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
										<div class="product-thumb">
										<div class="image">
											<a href="/product/<%= product.name.replace(/ /g, '-') %>" class="thumb-image">
											<img src="<%= product.images[0] ? '../../upload/' + product.images[0] : 'assets/images/products/placeholder.jpg' %>"
												alt="<%= product.name %>" title="<%= product.name %>"
												class="img-responsive zoomInImage">
											</a>
											<div class="button-group">
											   <% if (product.status) { %>
																<button class="addcart" type="button" title="Add to Cart" 
																		onclick='handleAddToCart({
																			userData: <%= JSON.stringify(userData) %>, 
																			productId: "<%= product._id %>",  
																			quantity: "1",
																		})'>
																	<i class="fa-solid fa-cart-shopping cart-icon"></i>
																</button>
															<% } else { %>
																<button class="addcart" type="button" title="Out of Stock" disabled>
																	<i class="fa-solid fa-cart-shopping cart-icon"></i>
																</button>
															<% } %>
											<button class="wishlist" type="button" data-toggle="tooltip" id="button-add-to-wishlist" data-id="<%= product._id %>" title="Add to Wishlist" onclick='handleAddToWishlist({ userData: <%= JSON.stringify(userData) %>, productId: "<%= product._id %>", productName: "<%= product.name %>", productImage: "<%= product.image %>" })'>
												<i class="icon-like"></i>
											</button>
											</div>
										</div>
											<div class="product-description">
												<div class="caption">
												<div class="title-rating clearfix">
													<h4 class="product-title">
													<a href="/product/<%= product.name.replace(/ /g, '-') %>">
														<%= product.name %>
													</a>
													</h4>
												</div>
												<div class="price-cartbtn clearfix">
													<p class="price">
													₹ <%= product.discountedPrice %> 
													<small class="discount">₹ <%= product.price %></small>
													<span class="price-tax">Ex Tax: ₹ <%= (product.discountedPrice / 1.18).toFixed(2) %></span>
													</p>
												</div>
													<div>
														<% if (product.status) { %>
															<button class="btn btn-cart" type="button"
																	title="Add to Cart"
																	data-id="<%= product._id %>"
																	onclick='handleAddToCart({
																	userData: <%= JSON.stringify(userData) %>, 
																	productId: "<%= product._id %>",  
																	quantity: "1",
																	})'>
																	Add to cart
															</button>
														<% } else { %>
															<button class="btn btn-cart" type="button"
																	title="Out of Stock"
																	data-id="<%= product._id %>"
																	disabled>
																	Out of Stock
															</button>
														<% } %>
													</div>
											</div>
										</div>
										</div>
									</div>
									<% }); %>


					</div>


				</div>


			</div>


		</div>
		</div>

		<!-- banner section -->
		<div class="html1 mt-20">
			<div class="container">
				<div class="banner-all">
					<div class="banner-outer">
						<div class="banner1">
							<div class="inner1"><a href="#"><img alt="" class="img-responsive w-100"
										src="assets/images/banners/banner1.png"> </a></div>
							<!-- <div class="banner-desc">10% <span>off</span></div> -->
							<div class="inner2">
								<!-- <div class="banner-desc2">Tips to Choose a</div>
								<div class="banner-title">Fancy Saree</div>
								<div class="banner-desc1">as per your body shape</div>
								<div class="btn btn-info">shop now</div> -->
							</div>
						</div>
					</div>
					<div class="banner-outer">
						<div class="banner2">
							<div class="inner1"><a href="#"><video alt="" loop autoplay muted class="img-responsive w-100"
										src="assets/images/banners/banner2.mp4"> </a></div>
							<div class="inner2">
								<div class="banner-title">New Collection</div>
								<!-- <div class="banner-desc">saree</div> -->
								<div class="btn btn-info">shop now</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .banner section -->

		<!-- Top PRODUCT  -->
		<div class="product-tab-block wow fadeInUp top-margin-all">
			<div class="container">
				<div class="main-tab">
					<div class="product-tabs box-content clearfix">
						<div class="page-title toggled">
							<h3>Top Products</h3>
						</div>
				
						<div class="row">
										<div class="category-box">
											<div class="category-feature-list ">
												<div class="product-carousel owl-carousel">
													<% products.slice(0, 20).forEach(product => { %>
														<div class="single-column">
															<div class="product-layout col-xs-12">
																<div class="product-thumb transition">
																	<div class="image">
																		<a href="/product/<%= product.name.replace(/ /g, '-') %>"
																			class="thumb-image">
																			<img src="<%= product.images[0] ? '../../upload/' + product.images[0] : '../../assets/images/products/noimage.png' %>"
																				alt="<%= product.name %>"
																				title="<%= product.name %>"
																				class="img-responsive zoomInImage">
																		</a>
																		<input type="text" name="quantity" value="1"
																			size="2" id="input-quantity"
																			class="form-control" hidden>
																		<div class="button-group">
																			   <% if (product.status) { %>
																<button class="addcart" type="button" title="Add to Cart" 
																		onclick='handleAddToCart({
																			userData: <%= JSON.stringify(userData) %>, 
																			productId: "<%= product._id %>",  
																			quantity: "1",
																		})'>
																	<i class="fa-solid fa-cart-shopping cart-icon"></i>
																</button>
															<% } else { %>
																<button class="addcart" type="button" title="Out of Stock" disabled>
																	<i class="fa-solid fa-cart-shopping cart-icon"></i>
																</button>
															<% } %>
																			<button class="wishlist" type="button" data-toggle="tooltip" id="button-add-to-wishlist" data-id="<%= product._id %>" title="Add to Wishlist" onclick='handleAddToWishlist({ userData: <%= JSON.stringify(userData) %>, productId: "<%= product._id %>", productName: "<%= product.name %>", productImage: "<%= product.image %>" })'>
																				<i class="icon-like"></i>
																			</button>
																			
																		</div>
																	</div>
																	<div class="product-description">
																		<div class="caption">
																			<div class="title-rating clearfix">
																				<h4 class="product-title"><a href="#">
																						<%= product.name %>
																					</a></h4>
																			</div>
																			<div class="price-cartbtn clearfix">
																			<p class="price">
																						₹ <%= product.discountedPrice %> <small
																								class="discount">₹ <%=
																									product.price %></small>
																							<span class="price-tax ">Ex Tax: ₹ <%=
																									(product.discountedPrice / 1.18).toFixed(2) %>
																							</span>
																					</p>

																		</div>
																			<div>
														<% if (product.status) { %>
															<button class="btn btn-cart" type="button"
																	title="Add to Cart"
																	data-id="<%= product._id %>"
																	onclick='handleAddToCart({
																	userData: <%= JSON.stringify(userData) %>, 
																	productId: "<%= product._id %>",  
																	quantity: "1",
																	})'>
																	Add to cart
															</button>
														<% } else { %>
															<button class="btn btn-cart" type="button"
																	title="Out of Stock"
																	data-id="<%= product._id %>"
																	disabled>
																	Out of Stock
															</button>
														<% } %>
													</div>
																	</div>
																</div>
																	
																</div>
															</div>
														</div>
														<% }); %>
												</div>
											</div>
										</div>
									</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .Top PRODUCT  -->
		<!-- Short Banner -->
		<div class="container">
			<div class="category-img col-sm-12  banner-image">
				<img src="assets/images/banners/category_banner1.png" alt="Banarasi Saree" title="Banarasi Saree"
					width="1920px" class="img-thumbnail">
			</div>
		</div>
		<!-- service Section -->
		<div class="service-box  wow fadeInUp top-margin-all ">
			<div class="container">
				<div class="promo-item ">
					<div class="row row-cols-2 row-cols-sm-2 row-cols-lg-4">
						<div class="service-item">
							<div class="service">
								<div class=" icon-shipping service-icon-foor"></div>
								<div class="service-content">
									<h4 class="promo-title">Free shipping</h4> <span class="promo-desc">On order over
										₹399</span>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service">
								<div class=" icon-wallet service-icon-foor"></div>
								<div class="service-content">
									<h4 class="promo-title">Quality Products</h4> <span class="promo-desc">100% Customer Satification</span>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service">
								<div class="icon-gift service-icon-foor"></div>
								<div class="service-content">
									<h4 class="promo-title">Special Gift Card</h4> <span class="promo-desc">Offer
										special
										bonuses with gift</span>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service">
								<div class="icon-customer-service service-icon-foor"></div>
								<div class="service-content">
									<h4 class="promo-title">24/7 customer service</h4> <span class="promo-desc">Call us
										24/7
										at +919101394194</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .service Section -->


		<!-- Customers Said -->
		<div class="vipodha-testimonial-block top-margin-all wow fadeInUp">
			<div class="vipodha-testimonial container box-module box-content">
				<div class="page-title customers-text">
					<h3>What Our Customer Says!</h3>
				</div>
				<div class="block_box">
					<div class="row">
						<div class="category-box">
							<div class="customers-said owl-carousel">
								<div class="row-items category-layout col-xs-12">
									<div class="tetimonial-image-content">
										<div class="vipodha-testimonial-content">
											<div class="vipodha-testimonial-author">Ramesh Upadhyay</div>
											<div class="vipodha-testimonial-customer">Customer</div>
										</div>
									</div>
									<div class="vipodha-testimonial-text">
										<p>I recently purchased a silk saree from Pallu Story and I couldn't be happier with my purchase! 
											The quality of the fabric is exceptional and the intricate detailing is even more beautiful in person. 
											The website is easy to navigate and the customer service team was very helpful in answering my questions</p>
									</div>
									<i class="testimonial-quotes icon-quotes"></i>
								</div>
								<div class="row-items category-layout col-xs-12">
									<div class="tetimonial-image-content">
										<div class="vipodha-testimonial-content">
											<div class="vipodha-testimonial-author">Sunil Kumar</div>
											<div class="vipodha-testimonial-customer">Customer</div>
										</div>
									</div>
									<div class="vipodha-testimonial-text">
										<p>Finding the perfect saree can be a daunting task, but Pallu Story made it a breeze! 
											From the moment I landed on their website, the user-friendly interface made browsing a joy. Their extensive collection had something for every taste, 
											but what truly impressed me was the detailed product descriptions and high-quality photos.</p>
									</div>
									<i class="testimonial-quotes icon-quotes"></i>
								</div>
								<div class="row-items category-layout col-xs-12">
									<div class="tetimonial-image-content">
										<!-- <div class="vipodha-testimonial-images">
											<i class="icon-squarequote hidden"></i>
											<img src="assets/images/testimonial/3.png" alt="Noelle Salar"
												class="img-circle img-responsive customers-img">
										</div> -->
										<div class="vipodha-testimonial-content">
											<div class="vipodha-testimonial-author">Rishabh Shrivastava</div>
											<div class="vipodha-testimonial-customer">Customer</div>
										</div>
									</div>
									<div class="vipodha-testimonial-text">
										<p>My recent purchase from Pallu Story was a delightful experience.  
											While the website is user-friendly and the sarees themselves are undeniably gorgeous,
											 what truly impressed me was the exceptional customer service.</p>
									</div>
									<i class="testimonial-quotes icon-quotes"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .Customers Said -->

		<!--  company  brand -->
		<!-- <div class="mt-20 company-brand brand-featured wow fadeInUp">
			<div class="container">
				<div class="block_box">
					<div class="row">
						<div class="category-box">
							<div class="category-feature-list ">
								<div id="brand-7" class="brand-carousel owl-carousel">
									<div class="category-layout col-xs-12">
										<div class="brand-thumb">
											<div class="images-hover image">
												<a href="#">
													<img src="assets/images/company-brand/1.png" alt="burger" title=""
														class="img-responsive ">
												</a>
											</div>
										</div>
									</div>
									<div class="category-layout col-xs-12">
										<div class="brand-thumb">
											<div class="images-hover image">
												<a href="#">
													<img src="assets/images/company-brand/2.png" alt="burger" title=""
														class="img-responsive ">
												</a>
											</div>
										</div>
									</div>
									<div class="category-layout col-xs-12">
										<div class="brand-thumb">
											<div class="images-hover image">
												<a href="#">
													<img src="assets/images/company-brand/3.png" alt="burger" title=""
														class="img-responsive ">
												</a>
											</div>
										</div>
									</div>
									<div class="category-layout col-xs-12">
										<div class="brand-thumb">
											<div class="images-hover image">
												<a href="#">
													<img src="assets/images/company-brand/4.png" alt="burger" title=""
														class="img-responsive ">
												</a>
											</div>
										</div>
									</div>
									<div class="category-layout col-xs-12">
										<div class="brand-thumb">
											<div class="images-hover image">
												<a href="#">
													<img src="assets/images/company-brand/5.png" alt="burger" title=""
														class="img-responsive ">
												</a>
											</div>
										</div>
									</div>
									<div class="category-layout col-xs-12">
										<div class="brand-thumb">
											<div class="images-hover image">
												<a href="#">
													<img src="assets/images/company-brand/6.png" alt="burger" title=""
														class="img-responsive ">
												</a>
											</div>
										</div>
									</div>
									<div class="category-layout col-xs-12">
										<div class="brand-thumb">
											<div class="images-hover image">
												<a href="#">
													<img src="assets/images/company-brand/3.png" alt="burger" title=""
														class="img-responsive ">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- . company brand -->
		<hr>
		<!-- Newsletter section -->
		<div class="news wow fadeInUp top-margin-all">
			<div class="container vipodhanewsletterblock ">
				<div class="vipodha-newsletter-form block-content box-content">
					<div class="title-text page-title toggled hidden">
						<h3>Newsletter</h3>
					</div>
					<div class="block_box">
						<div class="row">
							<div class="col-lg-6">
								<div class="news-info">
									<i class="icon-newslatter"></i>
									<div class="news-desc">
										<h4 class="title-text page-title">Newsletter</h4>
										<div class="news-description">Get free 20% discount for all products on your
											first
											order.
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="frmvipodhanewsletter">
									<div class="subscribe-form">
										<input class="newsletter-email-address" type="email"
											placeholder="Enter Your E-mail..">
										<input class="newsletter-submit" type="submit" value="Subscribe">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .Newsletter section -->
	</section>

	<%- include('../includes/webFooter.ejs') %>